@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-noto-sans);

  --color-olive-100: #f4f4d7;
  --color-olive-300: #dede87;
  --color-olive-700: #63641b;

  --color-livid-100: #eef5f7;
  --color-livid-400: #a9ced6;
  --color-livid-700: #213e45;

  --color-pink-100: #feedff;
  --color-pink-400: #f9b4ff;
  --color-pink-500: #e929ed;

  --color-red-600: #a70600;
  --color-black: #000000;
}

body {
  background: var(--color-olive-100);
  color: var(--color-black);
  font-family: 'Noto Sans Variable', Arial, Helvetica, sans-serif;
}