@import 'tailwindcss';
@source "../index.html";

:root {
  --background: #F4F4D7;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-sans-mono);

  --color-olive-100: #F4F4D7;
  --color-olive-300: #DEDE87;
  --color-olive-700: #63641B;

  --color-livid-100: #EEF5F7;
  --color-livid-400: #A9CED6;
  --color-livid-700: #213E45;

  --color-pink-100: #FEEDFF;
  --color-pink-400: #F9B4FF;
  --color-pink-500: #E929ED;

  --color-red-600: #A70600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F4D7;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}