{
	# global options
}

(common) {
    encode gzip

    header {
	  Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always
	  X-Content-Type-Options "nosniff" always
	  X-Frame-Options "SAMEORIGIN" always
	  X-XSS-Protection "0" always
	  Referrer-Policy "strict-origin-when-cross-origin" always
	  Permissions-Policy "interest-cohort=()" always
	  -Server
    }
}

notify.{$SITE_ADDRESS} {
    import common
    reverse_proxy ntfy:80
}

metrics.{$SITE_ADDRESS} {
    import common
    reverse_proxy victoriametrics:8428
}

{$SITE_ADDRESS} {
	import common
	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}
}
